@import "o-grid/main";
@import "scss/common";
body {
	margin: 0;
	padding: 0;
}
// Add current layout name at the end ot <html> tag. 
//html:after {
//    content: '{ "layout": "S", "gutter": "10px" }';
//}
// Use this info to determine whether it is on small device or on desktop.
// If on small device, do not execute certain part of js.
// This won't work if users resize their window unless you check the `resize` event.
@include oGridSurfaceCurrentLayout;

$o-header-is-silent: false;
@import "ftc-header/main";

@import "scss/banner";
@import "scss/block";
@import "scss/section-apple";
@import "scss/footer";
@import "scss/qr";

