<header class="o-header" data-o-component="o-header">
  <div class="o-header__primary">
    <div class="o-header__container">

      <div class="o-header__top">

        <div class="o-header__edition">
          <button class="switch-button">简体中文版</button>
          <ul class="editions">
            <li><a href="" class="edition-link">繁体中文版</a>
            </li>
            <li><a href="" class="edition-link">英文版</a>
            </li>
          </ul>
        </div>

        <div class="o-header__masthead">
          <a href="/" title="前往FT中文网首页"><span>FT中文网</span></a>
        </div> 

        <nav class="o-header__tools" role="navigation">
          <ul class="tools-items">
              <li class="tools-item">
                <a class="tools-link" href="">myFT</a>
              </li>
              <li class="tools-item">
                <a class="tools-link" href="">退出</a>
              </li>
              <li class="tools-item">
                <a class="tools-link" href="">账户设置</a>
              </li>
          </ul>
        </nav>
      </div><!--  o-header__top --> 
    </div><!--  o-header__container -->     
  </div><!--  o-header__primary  -->
</header>